<section class="list">
  <img src="../../assets/banner4.jpg">
  <div class="listcontent">
   <h2 style="color:cornsilk;">Customer Table</h2>
  <table class="table table-hover table-info">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cid</th>
        <th scope="col">Fullname</th>
        <th scope="col"> Phone</th>
        <th scope="col"> Email</th>
        <th scope="col"> Password</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cus of customers">
        <a routerLink="/updateCus/{{ cus.cid }}" routerLinkActive="active">
        <th scope="row">*</th>
      </a>
        <td>{{ cus.cid }}</td>
        <td>{{ cus.fullname }}</td>
        <td>{{ cus.phone }}</td>
        <td>{{ cus.email }}</td>
        <td>{{ cus.password }}</td>
        <button (click)="onDelete(cus)">X</button>
      </tr>
    </tbody>
  </table>

  <h2 style="color:cornsilk;">Address Table</h2>
  <table class="table table-hover table-info">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Doorno</th>
        <th scope="col">Street</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Pincode</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let add of address">
        <a routerLink="/updateCus/{{ add.cid }}" routerLinkActive="active">
        <th scope="row">*</th>
      </a>
        <td>{{ add.doorno }}</td>
        <td>{{ add.street }}</td>
        <td>{{ add.city }}</td>
        <td>{{ add.state}}</td>
        <td>{{ add.pincode}}</td>
      </tr>
    </tbody>
  </table>

  <h2 style="color:cornsilk;">Bill Table</h2>
  <table class="table table-hover table-info">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">BillNo</th>
        <th scope="col">Connection</th>
        <th scope="col">Date of Reading</th>
        <th scope="col"> Units used</th>
        <th scope="col"> Amount </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bill of bill">
        <a routerLink="updateCus/{{bill.billno}}" routerLinkActive="active">
        <th scope="row">*</th>
      </a>
        <td>{{ bill.billno }}</td>
        <td>{{ bill.connection }}</td>
        <td>{{ bill.readingdate }}</td>
        <td>{{ bill.unitsused }}</td>
        <td>{{ bill.amount }}</td>
      </tr>
    </tbody>
  </table>
  </div>
  </section>