 <nav class="navbar navbar-expand-lg navbar-light"style="background-color:#eff6ff" >
  <a class="navbar-brand">
    <img src="../../assets/logo2.jpg" width="5%" height="5%"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"routerLink="/calculationdetails" routerLinkActive="active">Calculate Bill</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/payments" routerLinkActive="active">Payments</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/registration"  routerLinkActive="active">Registration</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/addressregisteration"  routerLinkActive="active">Register_address</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/bill"  routerLinkActive="active">Billdetails</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/login"routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactus" routerLinkActive="active">Contact Us</a>
      </li>
     
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>