.Calculate img
{
    width: 100%;
    height: 600px;
    object-position: center;
    object-fit: cover;
}
.Calculatecontent
{
    color:white;
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%,-50%);
}
.Calculatecontent
{
    margin-left: 50px;
    margin-right: 200px;
}
